[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
bcrypt = "*"
flask-jwt-extended = "*"
werkzeug = "*"
redis = "*"
python-magic = "*"
flask-socketio = "*"
python-magic-bin = "*"

[dev-packages]

[scripts]
start = "flask run --debug"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"

[requires]
python_version = "3.12"
